<div class="container bg-{{getOption}}">
  <div class="calculator">

    <div class="calc-heading calc-text-color-{{getOption}} disable-highlight">
      <h2>calc</h2>
      <div class="theme-container">
          <p (click)="onDesignChange()">
            <span *ngFor="let i of [1,2,3]">{{i}}</span>
          </p>
        <div class="row">
          <p (click)="onDesignChange()">THEME</p>
          <div (click)="onDesignChange()" [appThemeOption]="getCurrentOption" class="slider calc-content-{{getOption}}">
            <div class="ball btn-ball-{{getOption}}"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="calc-content calc-content-{{getOption}}">
        <p class="number-header number-header-theme-{{getOption}} disable-highlight">{{getFirstValue}} {{getOperator}}</p>
        <p class="number-content calc-text-color-{{getOption}}">
          {{getAllValues === '' ? 0 : getAllValues}}
        </p>
    </div>

    <div class="calc-body calc-body-{{getOption}} disable-highlight" >
      <div class="square-buttons">
        <div *ngFor="let btn of btns; let i = index" class="flex-item {{btn.parentClass}}">
          <button (click)="onPress(btn.name)"
          class="btn {{btn.buttonClass}} btn-{{btn.color}}-{{getOption}}"
          >{{btn.name}}</button>
        </div>
      </div>
    </div>

  </div>
</div>
